<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="public/css/api.css">
</head>
<body class="fondo">
    <div class="nav-bag">
  
        <nav class="navegacion-principal contenedoruno">
          <img class="logo" src="public/img/logo2.png"> 
          <a href="/">Inicio</a>
          <a href="nosotros">Nosotros</a>
          <a href="api">Nuestra Api</a>
          <a href="clientes">clientes</a>
          <img class="logo" src="public/img/logo2.png"> 
        </nav>
      </div> 
      
      <h2> Nuestra Api</h2>

      <main >
        <div >
            <div >
                <article>
                    
                  
                    
                    <div class="card">
                        <div >
                            <h4 style="text-align: center;">
                                <a >
                                    Usuarios
                                </a>
                            </h4>
                        </div>
    
                        <div >
                            <div class="card-body">
                                <a href="json" class="button">Toca aquí para ver los Usuarios</a>
                            </div>
                            
                        </div>
                    </div>
    
                    <!-- <div class="card">
                        <div>
                            <h4 style="text-align: center;">
                                <a  >
                                    Estatus de foco
                                </a>
                            </h4>
                        </div>
                        <div >
                            <div class="card-body">
                                <p>Foco</p>
                            </div>
                        </div>
                    </div> -->
    
                    <div class="card">
                        <div>
                            <h4 style="text-align: center;">
                                <a  >
                                    Estatus de Puerta
                                </a>
                            </h4>
                        </div>
                        <div>
                            <div class="card-body">
                                <a href="/api/puerta" class="button">Toca aquí para ver las activaciones</a>
                            </div>
                        </div>
                       
                    </div>
                </article>
               
            </div>
        </div>
    </main>
</body>
</html>