<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="public/css/nosotros.css">
</head>
<body class="fondo">
    <div class="nav-bag">
  
        <nav class="navegacion-principal contenedoruno">
          <img class="logo" src="public/img/logo2.png"> 
          <a href="/">Inicio</a>
          <a href="nosotros">Nosotros</a>
          <!-- <a href="api">Nuestra Api</a> -->
          <a href="clientes">clientes</a>
          <img class="logo" src="public/img/logo2.png"> 
        </nav>
      </div> 
      
      <h2> Sitema de Estacionamiento inteligente</h2>
 <aside>
                    <img  class="imagenlogofond" src="../public/img/carro/puertaabierta.jpeg" alt="Nosotros">
                </aside>
      <main >
        <div >
            <div >
                <article>
                    
                    
                    
                    <div class="card">
                        <div >
                            <h4>
                                <a >
                                    Misión
                                </a>
                            </h4>
                        </div>
    
                        <div >
                            
                                <p>Nuestra misión es desarrollar sistemas de apertura de puertas de garaje automáticos, confiables y accesibles, utilizando tecnología de vanguardia como sensores PIR y servomotores. Buscamos brindar a nuestros clientes una experiencia segura y conveniente al entrar y salir de sus hogares, mejorando su calidad de vida</p>
                        </div>
                    </div>
    
                    <div class="card">
                        <div>
                            <h4 >
                                <a >
                                    Visión
                                </a>
                            </h4>
                        </div>
                        <div >
                           <p>Ser líderes en la innovación tecnológica para la comodidad y seguridad del hogar, ofreciendo soluciones inteligentes y eficientes que simplifiquen la vida de las personas.</p>
                        </div>
                    </div>
    
                    <div class="card">
                        <div>
                            <h4>
                                <a >
                                    Valores
                                </a>
                            </h4>
                        </div>
                        <div >
                          
                               <p>Innovación: Nos comprometemos a impulsar constantemente la innovación en nuestros productos y servicios, buscando siempre nuevas formas de mejorar la experiencia del usuario.

                                Calidad: Priorizamos la calidad en cada etapa de desarrollo y fabricación, asegurando la fiabilidad y durabilidad de nuestros sistemas para la satisfacción a largo plazo de nuestros clientes.
                                
                                Seguridad: Nos comprometemos a garantizar la seguridad de nuestros sistemas, implementando medidas de protección y cumpliendo con los más altos estándares de seguridad para proteger los hogares de nuestros clientes.
                                
                                Accesibilidad: Nos esforzamos por hacer que nuestra tecnología sea accesible para todos, ofreciendo soluciones asequibles y fáciles de usar que mejoren la vida diaria de las personas.
                                
                                Responsabilidad social y ambiental: Somos conscientes de nuestro impacto en la sociedad y el medio ambiente, por lo que nos comprometemos a actuar de manera responsable y sostenible en todas nuestras operaciones y decisiones comerciales.</p>
                        </div>
                    </div>
                </article>
               
            </div>
        </div>
    </main>
</body>
</html>