:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    --verde:#006a56;
  }
  .fondo{
    background-image: url('../img/fondo.jpg');
    background-position: center; 
    background-size: cover; 
  
  }
  /*navegacion*/
  .nav-bag {
    background-color: var(--secundario);
  }
  
  .navegacion-principal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  @media (min-width: 768px) {
    .navegacion-principal {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  
  .navegacion-principal a {
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
  }
  .navegacion-principal a:hover {
    background-color: var(--secundario);
    color: var(--oscuro);
  }
  
  
  .logo{
    width: 5.5rem;
    height: 5.5rem;
    margin-left: 20px;
  }
  
  h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: white; /* Letras blancas */
    text-align: center;
  }
  
  .card {
    width: 300px; /* Ancho de la tarjeta */
    height: 200px; /* Alto de la tarjeta */
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #005a70;
    margin: 0 auto; /* Centrar horizontalmente */
    margin-bottom: 20px;
  }
  
  
  .card a {
    font-size: 25px;
   color: #000a11;
    text-align: center;
  }
  .card-body {
    padding: 20px;
    color: white; /* Letras blancas */
    text-align: center;
  }
  
  .button {
    display: inline-block;
    background-color: #863fa1;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.button:hover {
    background-color: #45a049;
}
