.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
}

#usuario-info {
    margin-top: 20px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
}

#usuario-info p {
    margin-bottom: 10px;
}

#usuario-info p strong {
    font-weight: bold;
}
