<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="public/css/nosotros.css">
</head>
<body class="fondo">
    <div class="nav-bag">
  
        <nav class="navegacion-principal contenedoruno">
          <img class="logo" src="public/img/logo2.png"> 
          <a href="/">Inicio</a>
          <a href="nosotros">Nosotros</a>
          <!-- <a href="api">Nuestra Api</a> -->
          <a href="clientes">clientes</a>
          <img class="logo" src="public/img/logo2.png"> 
        </nav>
      </div> 
      
      <h2> En SDAO (Sistema de Domotica Avanzada Para Oficina)Trabajamos para tu éxito</h2>
 <aside>
                    <img  class="imagenlogofond" src="../public/img/logofond.jpeg" alt="Nosotros">
                </aside>
      <main >
        <div >
            <div >
                <article>
                    
                    
                    
                    <div class="card">
                        <div >
                            <h4>
                                <a >
                                    Misión
                                </a>
                            </h4>
                        </div>
    
                        <div >
                            
                                <p>Nuestra misión es proporcionar a las empresas soluciones de domótica avanzada que optimicen el uso de los recursos, aumenten la productividad y promuevan un ambiente de trabajo cómodo y seguro. Nos comprometemos a ofrecer productos y servicios de alta calidad, centrados en la innovación y la satisfacción del cliente</p>
                          
                        </div>
                    </div>
    
                    <div class="card">
                        <div>
                            <h4 >
                                <a >
                                    Visión
                                </a>
                            </h4>
                        </div>
                        <div >
                           
                                <p>Ser líderes en el desarrollo e implementación de sistemas de domótica avanzada para oficinas, ofreciendo soluciones innovadoras que mejoren la eficiencia, comodidad y seguridad en los entornos laborales.</p>
                           
                        </div>
                    </div>
    
                    <div class="card">
                        <div>
                            <h4>
                                <a >
                                    Valores
                                </a>
                            </h4>
                        </div>
                        <div >
                          
                                <p>Innovación: Nos esforzamos por estar a la vanguardia de la tecnología, desarrollando constantemente soluciones innovadoras que impulsen el progreso en el campo de la domótica para oficinas.
                                    -Calidad: Nos comprometemos a ofrecer productos y servicios de la más alta calidad, garantizando la fiabilidad, durabilidad y eficacia de nuestras soluciones.
                                    -Personalización: Entendemos que cada empresa tiene necesidades y desafíos únicos, por lo que nos dedicamos a proporcionar soluciones personalizadas que se adapten a las especificidades de cada cliente.</p>
                           
                        </div>
                    </div>
                </article>
               
            </div>
        </div>
    </main>
</body>
</html>